<!DOCTYPE html>
<html>
	<head>
		<title>Details</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<link rel="stylesheet" href="../css/jquery.mobile-1.3.1.css" />
		<link  rel="stylesheet" type="text/css" href="../css/custom.css"/>
		<script src="../js/jquery-1.10.2.js"></script>
		<script src="../js/jquery.mobile-1.3.1.js"></script>
		<script src="../appjs/item.js"></script>
		<script src="../appjs/app.js"></script>
	</head>
	<body>

		<div id ="" data-role="page">
			<div data-role="header" data-theme="a" data-position="fixed">
				<a data-role="button" data-rel="back"> Back </a>
				<h1 id = "detailsHeader"></h1>
			</div>

			<div data-role="content" data-inset="true">
				<form>
					<fieldset data-role="controlgroup">
						<legend>
							Category
						</legend>
						<input name="checkbox-v-2a" id="checkbox-v-2a" type="checkbox">
						<label for="checkbox-v-2a">Category One</label>
						<input name="checkbox-v-2b" id="checkbox-v-2b" type="checkbox">
						<label for="checkbox-v-2b">Category Two</label>
						<input name="checkbox-v-2c" id="checkbox-v-2c" type="checkbox">
						<label for="checkbox-v-2c">Category Three</label>
					</fieldset>
					<fieldset data-role="controlgroup">
						<legend>
							Sub Category
						</legend>
						<input name="checkbox-v-2a" id="checkbox-v-2a" type="checkbox">
						<label for="checkbox-v-2a">SubCategory One</label>
						<input name="checkbox-v-2b" id="checkbox-v-2b" type="checkbox">
						<label for="checkbox-v-2b">SubCategory Two</label>
						<input name="checkbox-v-2c" id="checkbox-v-2c" type="checkbox">
						<label for="checkbox-v-2c">SubCategory Three</label>
					</fieldset>
					<fieldset data-role="controlgroup">
						<legend>
							2nd SubCategory
						</legend>
						<input name="checkbox-v-2a" id="checkbox-v-2a" type="checkbox">
						<label for="checkbox-v-2a">2dn SubCategory One</label>
						<input name="checkbox-v-2b" id="checkbox-v-2b" type="checkbox">
						<label for="checkbox-v-2b">2dn SubCategory Two</label>
						<input name="checkbox-v-2c" id="checkbox-v-2c" type="checkbox">
						<label for="checkbox-v-2c">2dn SubCategory Three</label>

					</fieldset>
					<div align="left">
						<input type="submit" data-inline="true" data-theme="b" value="Done"/>
					</div>
				</form>

			</div>
		</div>

	</body>
</html>

